html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #FFEBCD;
}

* {
    font-family: Parisienne;
}

#CookBookLogo {
    max-width: 550px;
    max-height: 550px;
}

#paragraph_1 {
    font-size: 30px;
    
    
}

#navBarID {
    background-color: ghostwhite;
    border: 1px solid #000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    
}

#nav-item {
    color: pink;
}

#display-4 {
    font-size: 100px;
}
#RecipeView {
    color: chocolate;
    text-decoration: none;
}

#InsertRecipe {
    color: chocolate;
    text-decoration: none;
    font-size: large;
}

#FindRecipe {
    font-size: large;
}
