html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #FFEBCD;
}

* {
    font-family: Parisienne;
}

#CookBookLogo {
    max-width: 550px;
    max-height: 550px;
}

#paragraph_1 {
    font-size: 30px;
    
    
}

#navBarID {
    background-color: ghostwhite;
    border: 1px solid #000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    
}

#nav-item {
    color: pink;
}

#display-4 {
    font-size: 100px;
}
#RecipeView {
    color: chocolate;
    text-decoration: none;
}

#InsertRecipe {
    color: chocolate;
    text-decoration: none;
    font-size: large;
}

#FindRecipe {
    font-size: large;
    font-style: inherit;
    padding: 20px;
    cursor: default;
    margin: 25px 0;
   
}

    #FindRecipe input[type="text"] {
        font-size: 16px; /* Change the font size */
        padding: 10px; /* Add padding to the input */
        margin: 5px; /* Add margin around the input */
        border: 1px solid #ccc; /* Add a border to the input */
        border-radius: 6px; /* Add rounded corners */
        background-color: #f4f4f4; /* Change the background color */
        color: #333;
       // background-image: url('https://thumb.photo-ac.com/2a/2a8efb616232e261439a21dc19796838_t.jpeg');
       
    }

#TableRow {
    background-image: url('https://thumb.photo-ac.com/2a/2a8efb616232e261439a21dc19796838_t.jpeg');
    border: outset;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

#ExampleImageIDSearch {
    max-width: 200px;
    max-height: 200px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.7);
    border: 5px hidden ghostwhite;
    border-radius: 70px;
}


.ViewImage {
    max-width: 400px;
    max-height: 400px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.7);
    border: 5px hidden;
    border-radius: 70px;
}

#ExampleImageIDSearchDefault {
    max-width: 200px;
    max-height: 200px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.7);
    border: 5px hidden ghostwhite;
    border-radius: 70px;
}

