@model Recipe

<h2>Add a New Recipe</h2>

@using (Html.BeginForm("InsertRecipeToDatabase", "Recipe", "Post"))
{
    <input asp-for="RecipeID" type="hidden" value="" />

    <label asp-for="Name" class="control-label">Name</label>
    <input id="TableRow" type="text" name="Name" class="form-control" value="" />

    <label asp-for="RecipeDescription" class="control-label">Recipe Description</label>
    <input id="TableRow" type="text" step="0.01" name="RecipeDescription" class="form-control" />

    <label asp-for="Ingredients" class="control-label">Ingredients</label>
    <input id="TableRow" type="text" step="0.01" name="Ingredients" class="form-control" />

    <div class="form-group">
        <label for="">Select a Category</label>
        <select id="TableRow" class="form-control" name="CategoryID" value="">
            @foreach (var cat in Model.Categories)
            {
                <option value="@cat.CategoryID">@cat.CategoryID @cat.Name</option>
            }
        </select>
    </div>

    <label asp-for="ImagePath" class="control-label">Copy and paste the image url or the file path here for an Example Image:</label>
    <input id="TableRow" type="text" step="0.01" name="ImagePath" class="form-control" value="@Model.ImagePath" />

    <input type="submit" value="Add Recipe" class="btn btn-primary" />
}