@{
    ViewData["Title"] = "No Recipe Found";
}

<div class="text-center">
    <h1 class="display-4">It appears that recipe was not found!</h1>
    <p>Please ensure you type in the correct recipe name.</p>
    
</div>

@using (Html.BeginForm("Search", "Recipe", "Get"))
{
    <p id="FindRecipe">
        Find by recipe name: @Html.TextBox("searchString")
        <input type="submit" value="Search" />
    </p>
}

